* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #edf0f4;
}

/*Header styling*/
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}
/*Header styling*/

/*Navbar styling*/
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.car-large {
  color: #db0f31;
  font-size: 2rem;
}

.logo-text {
  font-weight: 600;
  font-size: 2rem;
}

.home-color {
  color: #db0f31;
}

.navbar-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  list-style-type: none;
}

.navbar-item {
  font-weight: 500;
  color: #757677;
  font-size: 17px;
  text-decoration: none;
}

.navbar-item:hover {
  transition: all 0.3s ease;
  color: #db0f31;
}
/*Navbar styling*/

/*Hero section styling*/
.hero-section-container {
  height: 50vh;
  background-image: url("assets/hero-cover.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-text-container {
  display: flex;
  height: 50vh;
  justify-content: center;
}

.hero-text {
  margin: auto 0;
  padding: 4rem;
  display: flex;
  color: #ffff;
  flex-direction: column;
}

.hero-title {
  font-size: 3rem;
}

.hero-paragraph {
  margin: 1rem;
  font-size: 1.25rem;
  letter-spacing: 2px;
}

.hero-buttons {
  display: flex;
  gap: 1rem;
}

.hero-buttons button {
  font-size: 1.1rem;
  color: #ffff;
  padding: 15px;
  border-radius: 10px;
  background: none;
  border: 0.5px solid black;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.btn-simulate-financing {
  background-color: #f50000;
  border-radius: 10px;
}

.btn-simulate-financing:hover {
  background-color: #610202;
  transition: all 0.3s ease;
}

.btn-vehicles {
  background-color: #1c1b1c;
  border-radius: 10px;
}

.btn-vehicles:hover {
  background-color: #2b292b;
  transition: all 0.3s ease;
}
/*Hero section styling*/

/*Choose us section styling*/
.choose-us-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.choose-us-text {
  margin: 1.5rem;
  padding: 2rem;
  text-align: center;
}

.choose-us-title {
  font-size: 2rem;
  margin-bottom: 1.25rem;
}

.choose-us-paragraph {
  color: #757677;
  font-size: 1.05rem;
  letter-spacing: 2px;
}
/*Choose us section styling*/

/*Choose us grid styling*/
.choose-us-grid-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0.75rem;
  gap: 1.2rem;
}

.choose-us-card {
  width: 350px;
  border: 0.5px solid none;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 25px;
}

.choose-us-card:hover {
  border: 0.5px solid #db0f31;
}

.choose-us-card-icon {
  border: 0.5px solid none;
  border-radius: 10px;
  background-color: #db0f31c7;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 20%;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #1c1b1c;
  padding: 10px;
  margin-bottom: 20px;
}

.choose-us-card-title {
  margin-bottom: 20px;
  font-size: 1.1rem;
}

.choose-us-card-paragraph {
  color: #757677;
  letter-spacing: 2px;
}
/*Choose us grid styling*/
