* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/*Header styling*/
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}

.menu-icon {
  display: none;
}
/*Header styling*/

/*Navbar styling*/
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.car-large {
  color: #db0f31;
  font-size: 1.5rem;
}

.logo-text {
  color: #101828;
  font-weight: 600;
  font-size: 1.5rem;
}

.home-color {
  color: #db0f31;
}

.navbar-links {
  font-weight: 450;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  list-style-type: none;
}

.navbar-item {
  color: #757677;
  font-size: 0.9rem;
  text-decoration: none;
}

.navbar-item:hover {
  transition: all 0.3s ease;
  color: #db0f31;
}
/*Navbar styling*/

/*Hero section styling*/
.hero-section-container {
  height: 50%;
  width: 100%;
  background-image: url("../assets/hero-cover.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-text-container {
  display: flex;
  height: 50%;
  align-items: center;
  justify-content: center;
}

.hero-text {
  margin: auto 0;
  padding: 4rem;
  display: flex;
  color: #ffff;
  flex-direction: column;
}

.hero-title {
  font-size: 3rem;
}

.hero-paragraph {
  margin: 1rem;
  font-size: 1.25rem;
  letter-spacing: 1px;
}

.hero-buttons {
  display: flex;
  gap: 1rem;
}

.hero-buttons button {
  font-size: 1.1rem;
  color: #ffff;
  padding: 15px;
  border-radius: 10px;
  background: none;
  border: 0.5px solid black;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.btn-simulate-financing {
  background-color: #f50000;
  border-radius: 10px;
}

.btn-simulate-financing:hover {
  background-color: #610202;
  transition: all 0.3s ease;
}

.btn-vehicles {
  background-color: #1c1b1c;
  border-radius: 10px;
}

.btn-vehicles:hover {
  background-color: #2b292b;
  transition: all 0.3s ease;
}
/*Hero section styling*/

/*Choose us section styling*/
.choose-us-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.choose-us-text {
  margin: 1.5rem;
  padding: 2rem;
  text-align: center;
}

.choose-us-title {
  color: #101828;
  font-size: 2rem;
  margin-bottom: 1.25rem;
}

.choose-us-paragraph {
  color: #757677;
  font-size: 1.05rem;
  letter-spacing: 1px;
}
/*Choose us section styling*/

/*Choose us grid section styling*/
.choose-us-grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.2rem;
}

.choose-us-card {
  width: 350px;
  border: 0.5px solid none;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 22px;
}

.choose-us-card:hover {
  border: 0.5px solid #db0f31;
}

.choose-us-card-icon {
  border: 0.5px solid none;
  border-radius: 10px;
  background-color: #ffe2e2;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 20%;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #1c1b1c;
  padding: 10px;
  margin-bottom: 20px;
}

.red-icon {
  color: #e7000b;
}

.choose-us-card-title {
  color: #101828;
  margin-bottom: 20px;
  font-size: 1.1rem;
}

.choose-us-card-paragraph {
  color: #757677;
  letter-spacing: 1px;
}
/*Choose us grid  section styling*/

/*Finance now section styling*/
.finance-now-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #070726;
  margin-top: 3rem;
  width: 100%;
  background: #101828;
  background: linear-gradient(
    90deg,
    rgba(16, 24, 40, 1) 6%,
    rgba(59, 18, 18, 1) 49%,
    rgba(16, 24, 40, 1) 94%
  );

  color: #ffff;
}

.finance-now-text {
  text-align: center;
  padding: 2rem;
}

.finance-now-title {
  margin: 1.1rem auto;
  font-size: 1.75rem;
  font-weight: 900;
}

.finance-now-paragraph {
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 1.1rem;
}

.finance-now-button {
  background-color: #f50000;
  border-radius: 10px;
  margin: 2rem auto;
  text-align: center;
}
.finance-now-button:hover {
  background-color: #610202;
  transition: all 0.3s ease;
}
.finance-now-button button {
  font-weight: 500;
  font-size: 1.1rem;
  color: #ffff;
  padding: 20px;
  border-radius: 10px;
  background: none;
  border: 0.5px solid black;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
/*Finance now section styling*/

/*Footer styling*/
footer {
  background-color: #101828;
}

.car-red {
  color: #db0f31;
  font-size: 1.25rem;
}

footer hr {
  color: #ffff;
  margin: 1.1rem;
  width: 50%;
  margin: 0 auto;
  border: none;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  color: #ffff;
  margin: auto;
  padding: 15px;
}

.footer-item-title {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.footer-item-content {
  letter-spacing: 1px;
  color: #757677;
}

.footer-copyright {
  color: #ffff;
  text-align: center;
  padding: 15px;
}

.footer-item-content ul {
  list-style-type: none;
}

.footer-item-content li {
  padding: 10px;
}

.footer-item-content a {
  text-decoration: none;
  letter-spacing: 1px;
  color: #757677;
}
/*Footer styling*/

/*Responsive medias*/

@media (max-width: 440px) {
  /*Responsive header styling*/
  .header-container {
    justify-content: space-evenly;
  }

  .logo {
    gap: 0.5rem;
  }

  .menu-icon {
    font-size: 1.5rem;
    font-weight: 450;
    display: block;
    color: #101828;
  }

  .header-navbar {
    display: none;
  }
  /*Responsive header styling*/

  /*Responsive Hero section styling*/
  .hero-title {
    font-size: 1.5rem;
  }

  .hero-paragraph {
    font-size: 0.75rem;
  }

  .hero-buttons {
    flex-direction: column;
  }

  .hero-buttons button {
    width: 100%;
    font-size: 0.7rem;
    padding: 10px;
  }
  /*Responsive Hero section styling*/

  /*Responsive Choose us section styling*/
  .choose-us-container {
    flex-direction: column;
    background-color: #f5f8fa;
  }

  .choose-us-title {
    font-size: 1.5rem;
  }

  .choose-us-paragraph {
    font-size: 0.9rem;
  }

  .choose-us-card {
    width: 300px;
  }

  .choose-us-card-title {
    font-size: 0.9rem;
  }

  .choose-us-card-paragraph {
    font-size: 0.8rem;
  }

  .choose-us-card-icon {
    width: 15%;
    padding: 8px;
    font-size: 16px;
  }
  /*Responsive Choose us section styling*/

  /*Responsive Finance now section styling*/
  .finance-now-title {
    font-size: 1.25rem;
  }

  .finance-now-paragraph {
    font-size: 0.8rem;
  }

  .finance-now-button button {
    font-size: 0.8rem;
    padding: 16px;
  }
  /*Responsive Finance now section styling*/

  /*Responsive Footer section styling*/
  .footer-container {
    justify-content: flex-start;
    flex-direction: column;
    padding: 12px;
  }

  .footer-item-title {
    font-size: 1rem;
  }

  .footer-item-content {
    font-size: 0.8rem;
    margin-bottom: 10px;
  }

  .footer-item-content li {
    padding: 5px;
  }

  .footer-copyright {
    font-size: 0.8rem;
  }
  /*Responsive Footer section styling*/
}
/*Responsive medias*/
