* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/*Header styling*/
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  border: 1px solid none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.menu-icon {
  display: none;
}
/*Header styling*/

/*Navbar styling*/
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.car-large {
  color: #db0f31;
  font-size: 1.5rem;
}

.logo-text {
  color: #101828;
  font-weight: 600;
  font-size: 1.5rem;
}

.home-color {
  color: #db0f31;
}

.navbar-links {
  font-weight: 450;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  list-style-type: none;
}

.navbar-item {
  color: #757677;
  font-size: 0.9rem;
  text-decoration: none;
}

.navbar-item:hover {
  transition: all 0.3s ease;
  color: #db0f31;
}
/*Navbar styling*/

/*Vehicle catalog title section styling*/
.vehicle-catalog-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: 20vh;
  background-color: #f5f8fa;
}

.vehicle-catalog-text-title {
  margin-bottom: 0.8rem;
  font-size: 1.5rem;
  color: #101828;
}

.vehicle-catalog-text-paragraph {
  color: #757677;
  letter-spacing: 1px;
}
/*Vehicle catalog title section styling*/

/*Filter search section styling*/
.filter-search-container {
  display: flex;
  flex-direction: column;
  border: 1px solid none;
  border-radius: 10px;
  padding: 20px;
  margin: 30px auto;
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.filter-icon-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  margin-bottom: 8px;
}

.filter-search-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.filter-search-form div {
  width: 40%;
}

.filter-search-form input,
select {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #757677;
  padding: 10px;
}

.filter-search-form input:hover {
  border-color: #db0f31;
}

.filter-search-form select:hover {
  border-color: #db0f31;
}

/*Filter search section styling*/

/*Vehicle catalog styling*/
.container-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 80%;
}

.card {
  width: 350px;
  background: white;
  border-radius: 20px;
  overflow: hidden; /* Garante que a imagem respeite o arredondamento */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/* Header e Imagem */
.card-header {
  position: relative;
  width: 100%;
  height: 220px;
}

.card-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Etiquetas (Badges) */
.badges {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  gap: 10px;
}

.badge {
  padding: 8px 16px;
  border-radius: 25px;
  font-weight: bold;
  font-size: 14px;
}

.badge-white {
  background: white;
  color: #333;
}
.badge-red {
  background: #e60000;
  color: white;
}

/* Corpo do Texto */
.card-body {
  padding: 20px;
}

.title {
  margin: 0;
  font-size: 24px;
  color: #101828;
}

.subtitle {
  letter-spacing: 1px;
  color: #666;
  margin: 5px 0 15px 0;
}

hr {
  border: 0;
  border-top: 1px solid #eee;
  margin-bottom: 15px;
}

/* Preço */
.price-container {
  color: #e60000;
  font-weight: bold;
  font-size: 28px;
}

.currency {
  font-size: 18px;
  margin-right: 5px;
}

/* Botão */
.card-footer {
  padding: 0 20px 20px 20px;
}

.btn-finance {
  width: 100%;
  padding: 15px;
  background-color: #e60000;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s;
}

.btn-finance:hover {
  transform: scale(1.02);
  background-color: #cc0000;
}

/*Vehicle catalog styling*/

/*Footer styling*/
footer {
  background-color: #101828;
}

.car-red {
  color: #db0f31;
  font-size: 1.25rem;
}

footer hr {
  color: #ffff;
  margin: 1.1rem;
  width: 50%;
  margin: 0 auto;
  border: none;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  color: #ffff;
  margin: auto;
  padding: 15px;
}

.footer-item-title {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.footer-item-content {
  letter-spacing: 1px;
  color: #757677;
}

.footer-copyright {
  color: #ffff;
  text-align: center;
  padding: 15px;
}

.footer-item-content ul {
  list-style-type: none;
}

.footer-item-content li {
  padding: 10px;
}

.footer-item-content a {
  text-decoration: none;
  letter-spacing: 1px;
  color: #757677;
}
/*Footer styling*/

/*Responsive section*/
@media (max-width: 490px) {
  /*Responsive header styling*/
  .header-container {
    justify-content: space-evenly;
  }

  .logo {
    gap: 0.5rem;
  }

  .menu-icon {
    font-size: 1.5rem;
    font-weight: 450;
    display: block;
    color: #101828;
  }

  .header-navbar {
    display: none;
  }
  /*Responsive header styling*/

  /*Responsive vehicle catalog title*/
  .vehicle-catalog-text-title {
    font-size: 1rem;
  }

  .vehicle-catalog-text-paragraph {
    font-size: 0.8rem;
  }
  /*Responsive vehicle catalog title*/

  /*Responsive filter search*/

  /*Responsive filter search*/

  /*Responsive vehicle card section*/
  .title {
    font-size: 18px;
  }

  .subtitle {
    font-size: 12px;
  }

  .price {
    font-size: 18px;
  }

  .currency {
    font-size: 14px;
  }

  .btn-finance {
    font-size: 14px;
  }
  /*Responsive vehicle card section*/

  /*Responsive Footer section styling*/
  .footer-container {
    justify-content: flex-start;
    flex-direction: column;
    padding: 12px;
  }

  .footer-item-title {
    font-size: 1rem;
  }

  .footer-item-content {
    font-size: 0.8rem;
    margin-bottom: 10px;
  }

  .footer-item-content li {
    padding: 5px;
  }

  .footer-copyright {
    font-size: 0.8rem;
  }
  /*Responsive Footer section styling*/
}
